@{
    ViewBag.Title = "Employee Store";
}


@section scripts { 
    <style type="text/css">
        table
        {
            border: 1px solid #000;
            border-collapse: collapse;
            color: #666666;
            min-width: 200px;
        }
        
        tr
        {
            border: 1px solid #000;
            line-height: 25px;
        }
        
        th
        {
            background-color: #B1C3CC;
            color: #000;
            font-size: 13px;
            text-align: left;
        }
        
        th, td
        {
            padding-left: 5px;
        }

        #status {
            color: red;
        }
        
    </style>

    <script src="@Url.Content("~/Scripts/knockout-2.1.0.debug.js")" type="text/javascript"></script>
    <script type="text/javascript">

        function ViewModel() {

            var self = this;

            // A nested view model that represents a single Employee.
            function EmployeeViewModel(employee) {
                var self = this;

                self.Id = employee.Id;
                self.Name = employee.Name;
                self.Salary = employee.Salary;
                self.Department = employee.Department;
            }

            self.Employees = ko.observableArray();   // Contains the list of Employees
            self.Employee = ko.observable();

            self.status = ko.observable();

            // Get a list of all Employees
            self.getAll = function () {

                self.Employees.removeAll();
                $.getJSON("/api/Employees", function (Employees) {
                    $.each(Employees, function (index, Employee) {
                        self.Employees.push(new EmployeeViewModel(Employee));
                    })
                });
            }

            // Find a Employee by Employee ID
            self.getById = function () {
                self.status("");
                var id = $('#EmployeeId').val();

                if (!id.length) {
                    self.status("ID is required");
                    return;
                }
                
                // Send AJX request to get the Employee by ID
                $.getJSON(
                    'api/Employees/' + id,
                    function (data) {
                        self.Employee(new EmployeeViewModel(data));
                    })
                    // Handler for error response:
                    .fail(
                        function (xhr, textStatus, err) {
                            self.Employee(null);
                            self.status(err);
                        });
            }

            // Update Employee details
            self.update = function() {
                self.status("");
                var id = $('#EmployeeId').val();

                var Employee = {
                    Name: $('#name').val(),
                    Salary: $('#Salary').val(),
                    Department: $('#Department').val()
                };

                $.ajax({
                    url: 'api/Employees/' + id,
                    cache: false,
                    type: 'PUT',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(Employee),
                    success: self.getAll
                })
                .fail(
                function (xhr, textStatus, err) {
                    self.status(err);
                });
            }

            self.create = function () {
                self.status("");

                var Employee = {
                    Name: $('#name2').val(),
                    Salary: $('#Salary2').val(),
                    Department: $('#Department2').val()
                };

                $.ajax({
                    url: 'api/Employees',
                    cache: false,
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(Employee),
                    statusCode: {
                        201 /*Created*/: function (data) {
                            self.Employees.push(data);
                        }
                    }
                })
                .fail(
                function (xhr, textStatus, err) {
                    self.status(err);
                });

            }

            // Initialize the view-model
            $.getJSON("/api/Employees", function (Employees) {
                $.each(Employees, function (index, Employee) {
                    self.Employees.push(new EmployeeViewModel(Employee));
                })
            });

        }

        function clearStatus() {
            $('#status').html('');
        }

        function add() {

            clearStatus();

            var Employee = ko.toJS(viewModel);
            var json = JSON.stringify(Employee);

            $.ajax({
                url: API_URL,
                cache: false,
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                data: json,
                statusCode: {
                    201 /*Created*/: function (data) {
                        self.Employees.push(data);
                    }
                }
            });
        }

        var viewModel = new ViewModel();
        ko.applyBindings(viewModel);

        // Initialize jQuery tab widget
        $("#tabs").tabs();
     
    </script>
} 


<div id="body">
    <section class="content-wrapper main-content">
        <h3>Employees</h3>

        <table id="Employees">
        <thead>
            <tr><th>ID</th><th>Name</th><th>Department</th><th>Salary</th></tr>
        </thead>
        <tbody data-bind="foreach: Employees">
            <tr>
                <td data-bind="text: Id"></td>
                <td data-bind="text: Name"></td>
                <td data-bind="text: Department"></td>
                <td data-bind="text: Salary"></td>
            </tr>
        </tbody>
        </table>

    </section>
    <section id="detail" class="content-wrapper">

    <div id="tabs"> <!-- div for jQuery UI tabs -->
	    <ul>
		    <li><a href="#viewTab">View Employee</a></li>
		    <li><a href="#addNewTab">Add New Employee</a></li>
	    </ul>

        <div id="viewTab">
        <label for="EmployeeId">ID</label>
        <input type="text" title="ID" name='Id' id="EmployeeId" size="5"/>
        <input type="button" value="Get" data-bind="click: getById"/>

        <div data-bind="if: Employee()">
            <div>
            <label for="name">Name</label>
            <input data-bind="value: Employee().Name" type="text" title="Name" id="name" />
            </div>

            <div>
            <label for="Department">Department</label>
            <input data-bind="value: Employee().Department" type="text" title="Department" id="Department" />
            </div>

            <div>
            <label for="Salary">Salary</label>
            <input data-bind="value: Employee().Salary" type="text" title="Salary" id="Salary" />
            </div>

            <div>
            <input type="button" value="Update" data-bind="click: update" />
            </div>
        </div>
        </div>

        <div id="addNewTab">
            <div>
            <label for="name">Name</label>
            <input type="text" title="Name" id="name2" />
            </div>

            <div>
            <label for="Department">Department</label>
            <input type="text" title="Department" id="Department2" />
            </div>

            <div>
            <label for="Salary">Salary</label>
            <input type="text" title="Salary" id="Salary2" />
            </div>

            <div>
            <input type="button" value="Add New" data-bind="click: create"" />
            </div>
        </div>

    </div>
    <div>
        <p id="status" data-bind="text: status" />
    </div>

    </section>
</div>

